<h1><%= @meetup.name %></h1>

<p><%= @meetup.location%></p>

<% if signed_in? && !current_user.meetups.include?(@meetup) %>
  <form action="/meetups/<%= @meetup.id %>/memberships" method="post">
    <input type="submit" value="Join this meetup">
  </form>
<% end %>

<p><%= @meetup.description %></p>

<h2>Members</h2>

<% if @members.any? %>
  <% @members.each do |user| %>
    <h3><%= user.username %></h3>
    <p><img src="<%= user.avatar_url %>"></p>
  <% end %>
<% else %>
  <p>Nobody has joined this meetup yet.</p>
<% end %>
